body{
    margin:0;
    background: #8990ec;
    font-family:Arial, Helvetica, sans-serif;
}
.container{
    width:350px;
    background-color: #272639;
    position:absolute;
    left:35%;
    top:20%;
    padding:22px;
    border-radius: 15px;
}
.title{
    font-size: 24px;
    color:white;
    margin-bottom: 10px;
}
.inputContainer{
    display:flex;
    background: #353959;
    border-radius: 20px;
    align-items: center;
    padding:10px;
}
.char{
    color:white;
    font-size: 20px;
}
#billTotal,#tipTotal{
    border:none;
    background:none;
    outline:none;
    font-size:20px;
    padding-left:5px;
    color:white;
}
.billContainer,.tipContainer{
    padding-bottom:14px;
}
/* Result */
.resultContainer{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.buttons{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.btnContainer{
    background: #8990ec;
    /* display:flex;
    align-items: center;
    justify-content: space-around; */
    display: grid;
    place-items: center;
    /* width: 1.6rem;
    height: 1.6rem; */
    height:26px;
    width:26px;
    border-radius: 50%;
}
.btn{
    border:none;
    outline:none;
    background:none;
    font-size: 19px;
}
.number{
    color:white;
    font-size:24px;
    margin:5px 10px 5px 10px;
}
.rightContainer{
    display:flex;
    flex-direction: column;
    align-items: end;
}
.total{
    font-size: 28px;
    color:white;
}
/* circle */
.circle{
    height: 120px;
    width: 120px;
    background-color: #0e1253;
    position:absolute;
    top:20px;
    left:50px;
    border-radius:50%;
}
.btncen{
    position:absolute;
    top:48%;
    left:50%;
    transform:translate(-50%,-50%);
    height:30px;
    width:30px;
    background-color: #8990ec;
    border-radius:50%;
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.bit{
    border:none;
    outline:none;
    background:none;
    font-size: 20px;
    /* position:absolute;
    top:48%;
    left:50%;
    transform:translate(-50%,-50%); */
}